---
import ArticleHeaderLinkList from "@components/ArticleHeaderLinkList.astro";
import ArticleText from "@components/ArticleText.astro";
import ArticleCardLayout from "@layouts/ArticleCardLayout.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

const sample = `Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
nihil, eveniet aliquid culpa officia aut!`
---

<BaseLayout>
  <div class="flex flex-col h-full w-full items-center md:space-y-10 space-y-3">
      <ArticleCardLayout heading="Katoliiklaste palveraamat">
        <ArticleText content = "Siit lehelt leiad põhilisemad palved Katoliku Kiriku traditsioonist, mida kasutatakse Missal, roosipärga lugedes, või isekeskis palvetades." />
      </ArticleCardLayout>
      <ArticleCardLayout heading="Palved">
          <ArticleHeaderLinkList/>
      </ArticleCardLayout>      
  </div>
</BaseLayout>
  
