---
import MenuLayout from "@layouts/MenuLayout.astro";
import {Accordion} from '@components/Accordion'

const prayers = await Astro.glob('/src/markdown/prayers/*.md')

const dict:{ [index: string]: string[]  } = {}

prayers.forEach(item => {
    const category = item.frontmatter.category
    if(!dict.hasOwnProperty(category)){
        dict[category] = []
    }
    dict[category].push(item.frontmatter.name)
});
---

<MenuLayout>
<div class="flex justify-center items-center h-2/3 w-2/3">
<Accordion content={dict} client:visible />
</div>
</MenuLayout>