---
const {heading} = Astro.props
---
<div class="h-auto md:w-2/3 w-full p-10 flex flex-col justify-around space-y-5 border-2">
    <h1 class="text-2xl sm:text-3xl md:text-4xl text-start">{heading}</h1>
    <slot />
</div>